body {
    font-family: 'Century Gothic', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #0093a2;
    margin-bottom: 20px;
}

h2 {
    color: #0093a2;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

details summary {
    font-size: 24px;
    font-weight: bold;
    color: #d87f23;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

    details summary:hover {
        background-color: #f1f1f1;
    }

details[open] summary {
    color: #f39c12;
}

details div, details p {
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

details[open] div, details[open] p {
    max-height: 500px; /* Adjust this value based on content */
}

.group {
    margin-left: 20px;
    margin-bottom: 20px;
}

    .group h3 {
        font-size: 20px;
        font-weight: bold;
        color: #0093a2;
    }

    .group img {
        width: 160px;
        height: 160px;
        float: left;
        margin-right: 10px;
    }

    .group p {
        font-size: 14px;
        color: #000;
    }

.region {
    margin-bottom: 30px;
}
